# Pytest for easier test discovery
pytest~=7.2

# ONNX conversion - I do not pin specific version due to
# package conflicts with different TF versions.
tf2onnx
onnxruntime

# TFMot
tensorflow_model_optimization
