name: CI
on:
  pull_request:
    branches: [main]

jobs:

  pip-build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: '3.7'
      - name: Install
        run: |
          pip install git+https://github.com/sebastian-sz/efficientnet-lite-keras@$GITHUB_HEAD_REF
      - name: Import
        run: python -c "from efficientnet_lite import EfficientNetLiteB0"

  docker-build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Build
        run: docker build -t keras_efficientnet_lite . --build-arg=latest
      - name: Run
        run: docker run --rm keras_efficientnet_lite python -c "from efficientnet_lite import EfficientNetLiteB0"


  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: '3.7'
      - name: lint code
        run: |
          pip install pre-commit~=2.12
          make lint



  test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        tensorflow-version: [ 2.2, 2.3, 2.4, 2.5, 2.6 ]

    steps:
      - uses: actions/checkout@v2
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v2
        with:
          python-version: '3.7'
      - name: Install dependencies (TF version ${{ matrix.tensorflow-version }})
        run: |
          python -m pip install --upgrade pip
          python -m pip install tensorflow~=${{matrix.tensorflow-version}}.0
          pip install -r tests/requirements.txt
          pip install -e .
      - name: Run tests
        run: make test
